body {
    background-color: #000;   
    color: #fff;              
    font-family: Arial, sans-serif;
}

#summary {
    border: 2px solid #fff;   
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
